<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WeShare</display-name>
  <context-param>
    <param-name>MONGODB_HOST</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>MONGODB_PORT</param-name>
    <param-value>27017</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Save</display-name>
    <servlet-name>Save</servlet-name>
    <servlet-class>ourpackage.Save</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Save</servlet-name>
    <url-pattern>/servlet/Save</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveInterest</display-name>
    <servlet-name>SaveInterest</servlet-name>
    <servlet-class>ourpackage.SaveInterest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveInterest</servlet-name>
    <url-pattern>/servlet/SaveInterest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo</display-name>
    <servlet-name>Demo</servlet-name>
    <servlet-class>ourpackage.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/Demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Threads</display-name>
    <servlet-name>Threads</servlet-name>
    <servlet-class>ourpackage.Threads</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Threads</servlet-name>
    <url-pattern>/Threads</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTopic</display-name>
    <servlet-name>AddTopic</servlet-name>
    <servlet-class>ourpackage.AddTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTopic</servlet-name>
    <url-pattern>/AddTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComment</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>ourpackage.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddThread</display-name>
    <servlet-name>AddThread</servlet-name>
    <servlet-class>ourpackage.AddThread</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddThread</servlet-name>
    <url-pattern>/AddThread</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>ourpackage.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>ourpackage.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecentTopics</display-name>
    <servlet-name>RecentTopics</servlet-name>
    <servlet-class>ourpackage.RecentTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecentTopics</servlet-name>
    <url-pattern>/RecentTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTopic</display-name>
    <servlet-name>ViewTopic</servlet-name>
    <servlet-class>ourpackage.ViewTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTopic</servlet-name>
    <url-pattern>/ViewTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComments</display-name>
    <servlet-name>GetComments</servlet-name>
    <servlet-class>ourpackage.GetComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComments</servlet-name>
    <url-pattern>/GetComments</url-pattern>
  </servlet-mapping>
</web-app>